{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

<div class="container">

	<div class="row">

		{% for Product in products %}
			<div class="col-md-4">

				<div class="card">
					<!-- Card image -->
					<div class="view overlay">
						<img class="card-img-top" src="{{ asset('upload/images/products/'~Product.image) }}" alt="Card image cap">
						<a href="#!">
							<div class="mask rgba-white-slight"></div>
						</a>
					</div>
					<!-- Card content -->
					<div class="card-body">
						<!-- Title -->
						<h4 class="card-title">{{Product.name}}</h4>
						<h1>publier le {{ Product.createdAt ? Product.createdAt|date('Y-m-d H:i:s') : '' }}</h1>
						<h2>mise à jour le <td>{{ Product.updatedAt ? Product.updatedAt|date('Y-m-d H:i:s') : '' }}</td></h2>
						<!-- Text -->
						<p class="card-text">
							{{Product.description | raw}}
							<h1>{{Product.price}}</h1>
						</p>
						<!-- Button -->
						<a href="{{ path('app_achat_show', {'id': Product.id}) }}" class="btn btn-primary">acheter</a>
						
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<!-- Card -->

{% endblock %}

